ANTHROPIC_API_KEY=your_key_here

# User 1
CODY_OURA_TOKEN=your_oura_token
CODY_APPLE_HEALTH_DB=./apple_health_cody.db
CODY_APPLE_HEALTH_XML=../apple_health_export/export.xml

# User 2
STEF_OURA_TOKEN=your_oura_token
STEF_APPLE_HEALTH_DB=./apple_health_stef.db
STEF_APPLE_HEALTH_XML=../apple_health_export_stef/export.xml
